/* Reset */

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

/* Variaveis */

:root {
    --laranja: hsl(26, 100%, 55%);
    --laranja_palido: hsl(25, 100%, 94%);
    --laranja_claro: hsl(25, 100%, 65%);
    --azul_escuro: hsl(220, 13%, 13%);
    --azul_acizentado_escuro: hsl(219, 9%, 45%);
    --azul_acizentado: hsl(220, 14%, 75%);
    --azul_claro_acizentado: hsl(223, 64%, 98%);
    --branco: hsl(0, 0%, 100%);
    /* --preto (with 75% opacity for lightbox background): hsl(0, 0%, 0%); */

    --fonte: 'Kumbh Sans' , sans-serif;
}

body {
    height: 100vh;
    font-family: var(--fonte);
}

.hide {
    display: none;
}

/* Header */

#header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    width: 95vw;
    height: 65px;
}

#left-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 100%;
    margin-left: 10px;
}

#right-header {
    display: flex;
    align-items: center;
    column-gap: 20px;
    height: 100%;
    margin-right: 30px;
}

#icone-menu {
    width: 15px;
}

#icone-menu:hover {
    cursor: pointer;
}

#menu-mobile {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 130vh;
    background-color: rgba(0, 0, 0, 0.29);
    z-index: 2;
}

#icon-close {
    width: 40px;
    padding: 15px;
}

#icon-close:hover {
    cursor: pointer;
}

#fundo-branco-menu {
    background-color: white;
    width: 60vw;
    height: 130vh;
}

#lista-menu-mobile {
    padding: 15px;
}

.item-menu {
    padding: 10px 0px;
}

.item-menu:hover {
    cursor: pointer;
}

#caixa-icon-cart {
    position: relative;
    width: 25px;
    height: 22px;
}

#caixa-carrinho {
    position: absolute;
    top: 100px;
    left: 10px;
    width: 350px;
    height: 200px;
    background-color: white;
    box-shadow: 0px 0px 8px -1px black;
    border-radius: 10px;
    z-index: 2;
}

#head-cart {
    width: 100%;
    height: 65px;
    border-bottom: 1px solid rgba(164, 164, 164, 0.279);
    display: flex;
    align-items: center;
}

#titulo-cart {
    margin-left: 15px;
}

#carrinho-vazio {
    width: 100%;
    height: 130px;
}

#msg-vazio {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--azul_acizentado_escuro);
}

#carrinho-cheio {
    height: 120px;
}

#pedido {
    width: 92%;
    height: 40%;
    padding: 10px 15px 0px 15px;
    display: flex;
    justify-content: space-between;
    color: var(--azul_acizentado_escuro);
}

#caixa-img-cart {
    display: flex;
    justify-content: center;
    align-items: center;
}

#thumb-cart {
    height: 50px;
    width: 50px;
    border-radius: 10px;
}

#caixa-produto-valor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 223px;
}

#valor-strong {
    color: black;
}

#lixeira {
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-lixeira {
    width: 20px;
}

#img-lixeira:hover {
    cursor: pointer;
}

#caixa-botao-checkout {
    width: 100%;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: start;
    margin-top: 11px;
}

#checkout {
    width: 315px;
    height: 51px;
    border-radius: 10px;
    background-color: var(--laranja);
    border: none;
    color: white;
    font-weight: bolder;
    font-size: 1em;
}

#checkout:hover {
    cursor: pointer;
    background-color: var(--laranja_claro);
}

#not-qnt {
    position: absolute;
    top: -4px;
    right: -6px;
    width: 20px;
    height: 11px;
    border-radius: 5px;
    color: white;
    background-color: var(--laranja);
    font-size: 0.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}

#carrinho {
    width: 25px;
    margin-right: 10px;
}

#carrinho:hover {
    cursor: pointer;
}

#avatar {
    width: 30px;
    border-radius: 50%;
    border: 2px solid white;
}

#avatar:hover {
    cursor: pointer;
    border: 2px solid var(--laranja);
}

/* Main */

#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#conteiner-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#img-produto {
    position: relative;
    top: 0;
    left: 0;
    width: 100vw;
    height: 320px;
}

#botoes-img {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 145px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.botoes-img {
    margin: 0px 10px;
    padding: 15px;
    width: 15px;
    height: 20px;
    background-color: var(--branco);
    border-radius: 50%;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.29);
}

.botoes-img:hover {
    cursor: pointer;
}

#conteiner-info {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding: 15px 20px;
}

#info-produto {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#nome-empresa {
    color: var(--laranja);
    font-size: 1em;
}

#nome-produto {
    font-size: 2em;
}

#descricao-produto {
    color: rgb(117, 117, 117);
    line-height: 1.5;
}

#valores {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#left-valores {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

#valor-atual {
    font-size: 2em;
}

#desconto {
    padding: 5px;
    border-radius: 5px;
    color: var(--laranja);
    background-color: var(--laranja_palido);
}

#valor-original {
    color: rgb(117, 117, 117);
}

#sessao-add {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#add {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--azul_claro_acizentado);
    padding: 10px;
    border-radius: 10px;
}

.btn-mais-menos {
    width: 15px;
    height: 15px;
    padding: 10px;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--laranja);
}

.btn-mais-menos:hover {
    cursor: pointer;
    color: var(--laranja_claro);
}

#menos {
    margin-bottom: 1px;
}

#botao-add {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    padding: 20px;
    background-color: var(--laranja);
    border-radius: 10px;
    color: white;
}

#botao-add:hover {
    background-color: var(--laranja_claro);
    cursor: pointer;
}

#cart {
    width: 25px;
}